.checkboxLoaderContainer {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noRecordsTitle {
  font-size: 14px;
}

.reckoTable {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
}

.reckoTableRow {
  display: flex;
  align-items: center;
  background-color: var(--color-shadow);
  border-radius: 15px;
  padding-left: 10px;

  /* overflow-x: scroll; */
}

.reckoUserCell {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  min-width: 110px;
}

.heroImg {
  cursor: pointer;
  width: 30px;
  border-radius: 50%;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.reckoSectionPartName {
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  max-width: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    color: var(--color-orange);
  }
}

.tileSummWrapper {
  background-color: var(--color-green);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 0 5px;
  width: 30px;
  opacity: 0.7;

  p {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
  }
}

.summTileIcon {
  margin-top: 5px;
}

.tileSummValue {
  font-weight: 600;
  font-size: 14px;
}

.reckoMonthCells {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 0px 15px;
}

.reckoMonthCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20px;
  text-align: center;

  p {
    margin: 0;
  }
}

.reckoMonthCell p:first-child {
  font-weight: 600;
  font-size: 14px;
}
