.topBarContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 65px;
}

.multiSelectWrapper {
  width: 110px;
}

.reckoTilesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow: scroll;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-left: 20px;
}
