.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 5% 10%;
  background-color: transparent;
  z-index: 999;
  cursor: default;
}

.editDateContainer {
  background-color: var(--color-lighter);
  /* position: absolute;
    left: 35%;
    top: 35%; */
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 9999999;
}

.buttonsWrapper {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.calendarBtn {
  cursor: pointer;
  background-color: var(--color-orange);
  color: var(--color-lighter);
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid var(--color-orange);
  padding: 5px 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: transparent;
    color: var(--color-orange);
  }
}

.abortBtn {
  background-color: var(--color-lighter);
  color: var(--color-dark);

  &:hover {
    background-color: #f4f4f4;
    color: var(--color-dark);
  }
}
