.paginationControls {
  display: flex;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
}

.paginationButton {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  border: none;
  transition: all 0.3s ease;
}

.prevPaginationButton:hover {
  transform: translateX(-5px);
}

.nextPaginationButton {
  transform: rotate(180deg);
}

.nextPaginationButton:hover {
  transform: rotate(180deg) translateX(-5px);
}

@media (max-width: 1700px) {
  .containersWrapper {
    gap: 20px;
  }

  .leftColumnTitle {
    margin-bottom: 25px;
    h3 {
      font-size: 16px;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
